<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap com desktop">

  <Identity
    Name="JulianBaumann.InterShare-SimpleSharing"
    Publisher="CN=E61B5B99-6B3D-4EBD-A242-48C8679F6DD9"
    Version="0.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="85e67d6a-2f85-416f-8a1b-eaceb1791ed0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>InterShare - Simple Sharing</DisplayName>
    <PublisherDisplayName>Julian Baumann</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">

	<Extensions>

		<!--Specify which CLSID to activate when notification is clicked-->
		<desktop:Extension Category="windows.toastNotificationActivation">
			<desktop:ToastNotificationActivation ToastActivatorCLSID="561BA616-1795-4121-B212-C173E6ADF0C3" />
		</desktop:Extension>
		<com:Extension Category="windows.comServer">
			<com:ComServer>
				<com:ExeServer Executable="InterShare.exe" DisplayName="InterShare" Arguments="----AppNotificationActivated:">
					<com:Class Id="561BA616-1795-4121-B212-C173E6ADF0C3" />
				</com:ExeServer>
			</com:ComServer>
		</com:Extension>
	</Extensions>
		
      <uap:VisualElements
        DisplayName="InterShare Alpha"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" Description="Please note that it may currently be unstable. Additionally, Bluetooth file transfer is not supported, as Windows does not support the BLE standard.">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClientServer"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>
